jmespath==1.0.1
h11==0.14.0
pip==23.2.1
distro==1.8.0
wheel==0.41.2
Jinja2==3.1.2
requests==2.31.0
anyio==3.7.1
sniffio==1.3.0
botocore==1.31.85
boto3==1.28.82
s3transfer==0.7.0
MarkupSafe==2.1.3
werkzeug==3.0.1
click==8.1.7
blinker==1.7.0
itsdangerous==2.1.2
httpcore==1.0.2
idna==3.4
certifi==2023.11.17
setuptools==68.2.0
openai==1.1.1
httpx==0.25.1
pydantic==2.5.1
python-dateutil==2.8.2
urllib3==1.26.18
six==1.16.0
zipp==3.17.0
python-dotenv==1.0.0
Flask==2.3.2